<h4> Votre panier </h4>

  <div id = 'cart list'>
    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Prix</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>€</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td><%= %> €</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div> #bouton pour commander </div>