
  <body>
    <h1><%= @order.user.email %> !</h1>
    <h1>Merci pour votre commande <%= @user.first_name %> !</h1>
    <h1>Voici le contenu de ta commande :</h1>
    <h1><%=@cartitem%></h1>
    
  </body>
