<div class="jumbotron">
  <div class="container">
    <br><br><br>
    <h3 class="display-4"><strong>Bienvenue !</strong></h3>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <a class="btn btn-primary btn-lg" href="/items" role="button">Trouve une photo</a>
    <% if user_signed_in? %>
      <a class="btn btn-info btn-lg" href="/users/edit" role="button">Mon compte</a>
    <% else %>
      <a class="btn btn-info btn-lg" href="/users/sign_in" role="button">Se connecter</a>
    <% end %>
    <br><br><br><br><br>
  </div>
</div>
<div class="content">
  <br>
  <% if user_signed_in? %>
    Connecté en tant que : <%= current_user.email %>
  <% end %>
</div>