<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-6 mb-3 mb-sm-0" id="items">
      <div class="card">
        <div class="card-body">
          <%= render item %>
        </div>
      </div>
    </div>
  <% end %>
</div>

