/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  padding: 10px;
}

.logo {
  margin-left: 0px;
  margin-right: 5px;
}

.logo_name {
  color: #805050;
  font-size: 25px;
  margin-right: 10px;
}

.jumbotron {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80");
  background-size: cover;
  background-position: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  position: relative;
  min-height: 100dvh;
  padding-bottom: 60px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.my-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-row {
  display: flex;
  flex-direction: row;
}
