<footer class="bg-dark text-center text-white">
  <div class="text-center p-2">
    © Cozy & Fluffy team. GitHub:
    <a class="text-light" href="https://github.com/LisaDaudibon/Fluffyshop.git">Fluffy Shop</a>
    <br>
    <%= image_tag "fluffy_shop.png", class:"logo", style: "width: 30px" %>
    <a class="text-light" href=mailto:“cozyhoshii@gmail.com”>Contactez-nous</a>
  </div>
</footer>