<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= image_tag "fluffy_shop.png", class:"logo", style: "width: 50px" %>
      <div class="logo_name" href="/home/index"><strong>FLUFFY SHOP</strong></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/home/index">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/items">Produits</a>
          </li>
        </ul>
        <div class="d-flex">
          <% if current_user %>
            <a class="btn btn-secondary my-2 my-sm-0" href='<%= cart_path(current_user.cart) %>'>Panier</a>
            <a class="btn btn-secondary my-2 my-sm-0" href='/users/edit'>Mon compte</a>
            <a class="btn btn-secondary my-2 my-sm-0" href='/users/sign_out'>Se déconnecter</a>            
          <% else %>
            <a class="btn btn-secondary my-2 my-sm-0" href='/users/sign_in'>Se connecter</a>
            <a class="btn btn-secondary my-2 my-sm-0" href='/users/sign_up'>S'inscrire</a>
          <% end%>
        </div>
      </div>
    </div>
  </nav>
</div>
