<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FLUFFY SHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Produits</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Panier</button>
          <% if current_user %>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Mon compte</button>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se déconnecter</button>            
          <% else %>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se connecter</button>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">S'inscrire</button>
          <% end%>
        </form>
      </div>
    </div>
  </nav>
</div>
